@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  height: 100vh; 
  margin: 0;

}

.background{
  background-color: #0f1522;
  border-radius: 50px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Gives the cards some breathing room at the bottom */
}



.Title{
  font-family: "Space Mono", monospace;
  font-size: 100px;
  color: #005035;
  padding: 40px;
  margin: 70px; 
  letter-spacing: 15px;
}


.Classes{
  color: #F0FFFF;
  padding: 20px;

}

.glowing {
color: #e0dfdc;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
color: #e0dfdc;
font-size: 30px
}
.card_background{
  height: 25vh;
  width: 25vw;
  background-color:#3d393a;
  border-radius: .5vw;
  display: flex;
  justify-content: center;
  align-items: center;     /* Centers items vertically */

}
